/*
    Font
 */
body .ui-widget {
    font-family: var(--font-family-base), serif;
    font-weight: var(--font-weight-normal);
    font-size: var(--font-size-base);
    text-decoration: none;
}


/*
    Cards
 */

.card {
    display: flex;
    padding: 2rem 1.5rem;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-4);

    border-radius: var(--card-border-radius);
    background: var(--card-bg, #FFF);
    box-shadow: var(--card-box-shadow);
}

.card.card-login {
    position: relative;
    width: 25rem;
    gap: var(--spacing-5);
    padding: var(--spacing-7);
}

@media screen and (max-width: 992px) {
    .card.card-login {
        width: 20rem;
    }
}



/*region Buttons */

body .ui-button {
    background: var(--primary-color);
    color: var(--primary-text-color);
    border: 1px solid var(--primary-color);
    margin: 0;
    outline: 0 none;
    border-radius: var(--border-radius-elements);
    transition: background-color .2s,color .2s,border-color .2s,box-shadow .2s,opacity .2s
}

body .ui-button.ui-state-hover {
    background: var(--primary-dark-color);
    border-color: var(--primary-dark-color);
    color: var(--primary-text-color);
}

body .ui-button.ui-state-focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: 0 0 0 .2em var(--highlight-bg);
}

body .ui-button.ui-state-active,
body .ui-button.ui-state-down {
    background: var(--primary-darker-color);
    border-color: var(--primary-darker-color);
    color: var(--primary-text-color);
}

body .ui-button.ui-button-outlined {
    background-color: var(--primary-text-color);
    color: var(--primary-color);
    border: 1px solid;
}

body .ui-button.ui-button-outlined.ui-state-hover {
    background: var(--surface-hover);
    color: var(--primary-dark-color);
    border-color: var(--primary-dark-color);

}

body .ui-button.ui-button-outlined.ui-state-active,
body .ui-button.ui-button-outlined.ui-state-down {
    background: var(--highlight-bg);
    color: var(--primary-darker-color);
    border-color: var(--primary-darker-color);
}

body .ui-splitbutton {
    display: flex;
    flex-direction: row;
    padding: 0;
}

/*endregion Buttons */


/*region Input */

.field .ui-outputlabel .ui-outputlabel-label {
    font-size: var(--font-size-base);
}

.ui-selectonemenu .ui-selectonemenu-label {
    overflow: hidden;
    text-overflow: ellipsis;
}


body .ui-inputfield {
    color: var(--text-color);
    background: var(--surface-section);
    padding: .5rem .5rem;
    border: 1px solid var(--surface-border);
    outline: 0 none;
    font-size: var(--font-size-base);
    border-radius: var(--border-radius-elements);
    transition: background-color .2s,color .2s,border-color .2s,box-shadow .2s,opacity .2s;
    -webkit-appearance: none;
    appearance: none
}

body .ui-inputfield.ui-state-hover {
    border-color: var(--primary-color);
}

body .ui-inputfield.ui-state-focus {
    border-color: var(--primary-dark-color);
    outline: 0 none;
    box-shadow: 0 0 0 .2em var(--highlight-bg);
}

body .ui-inputfield.ui-state-error {
    border-color: var(--text-error-color);
}


body .ui-commandlink, body .ui-link {
    color: var(--text-secondary-color);
    transition: background-color .2s,color .2s,border-color .2s,box-shadow .2s,opacity .2s;
}
body .ui-commandlink:hover, body .ui-link:hover {
    color: var(--text-color);;
    text-decoration: none;
}

body .ui-icon {
    font-size: var(--font-size-base);
}

/*endregion Input */




body .card {
    display: flex;
    padding: 1.5rem;
    gap: 1rem;
    border-radius: var(--border-radius-card);
    background: var(--surface-overlay);
    box-shadow: var(--card-box-shadow);
}

body .card .card-body {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    width: 100%;
}

.label-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.25rem;
    align-self: stretch;
}
.label-group .label {
    color: var(--text-secondary-color);
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-semibold);
    font-style: normal;
    line-height: normal;
}
.label-group .value {
    color: var(--text-color);
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-bold);
    font-style: normal;
    line-height: normal;
}

body .ui-dialog .ui-dialog-titlebar {
    padding: 1rem 1.5rem;
}



/*region Breadcum */

body .ui-breadcrumb {
    background: none;
    border: none;
    border-radius: 4px;
    padding: var(--spacing-1);
}

body .ui-breadcrumb .ui-breadcrumb-items li .ui-menuitem-link .ui-menuitem-text {
    color: var(--text-secondary-color);
    font-weight: var(--font-weight-light);
    font-size: var(--font-size-base);
}

body .ui-breadcrumb .ui-breadcrumb-items li:not(.ui-breadcrumb-chevron):before {
    content: "/";
    margin: 0.5rem;
    color: var(--text-secondary-color);
}

body .ui-breadcrumb .ui-breadcrumb-items li:last-child .ui-menuitem-link .ui-menuitem-text {
    color: var(--text-color);
    font-weight: var(--font-weight-normal);
    font-size: var(--font-size-base);
}

/*endregion Breadcum */

/*region Toolbar */

body .ui-toolbar {
    border: 1px solid var(--surface-border);
    background: var(--surface-header);
    color: var(--text-color);
    padding: 1rem;
    border-radius: var(--border-radius-elements);
}

/*endregion Toolbar */

/*region Panel */

body .ui-panel .ui-panel-titlebar {
    border: 1px solid var(--surface-border);
    background: var(--surface-header);
    color: var(--text-color);
    padding: 1rem;
    font-weight: var(--font-weight-bold);
    border-radius: var(--border-radius-elements) var(--border-radius-elements) 0 0;
}

/*endregion Panel */


/*region Datatable */

body .ui-datatable {
    border: 1px solid var(--surface-border);
    border-radius: var(--border-radius-elements);
}

body .ui-datatable .ui-datatable-header {
    background: var(--surface-header);
    border-bottom: 1px solid var(--surface-border);
    color: var(--text-color);
    padding: 1rem;
    font-weight: var(--font-weight-bold);
    border-top-left-radius: var(--border-radius-elements);
    border-top-right-radius: var(--border-radius-elements);
}

body .ui-datatable thead th {
    background: var(--surface-header);
    color: var(--text-color);
    border-bottom: 1px solid var(--surface-border);
}

body .ui-datatable thead th .ui-column-title {
    font-weight: var(--font-weight-bold);
    vertical-align: middle;
}

body .ui-datatable .ui-paginator {
    background: var(--surface-section);
    border: none;
}
body .ui-paginator .ui-paginator-current, body .ui-paginator .ui-paginator-rpp-options {
    padding: 0.5rem;
    border: 1px solid var(--surface-border);
    border-radius: var(--border-radius-elements);
    color: var(--text-color);
    font-size: var(--font-size-sm);
}
body .ui-paginator .ui-paginator-current, body .ui-paginator .ui-paginator-rpp-options:focus-visible {
    border: 1px solid var(--surface-border);
    outline: none;
}
body .ui-datatable .ui-paginator.ui-paginator-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
}
body .ui-paginator .ui-paginator-pages .ui-paginator-page.ui-state-active {
    background: var(--highlight-bg);
    color: var(--text-color);
}

body .ui-datatable.dt-scrollable .ui-datatable-header,
body .ui-datatable.dt-scrollable .ui-widget-header.ui-datatable-scrollable-header,
body .ui-datatable.dt-scrollable .ui-datatable-scrollable-body {
    width: 100% !important;
}
body .ui-datatable.dt-scrollable .ui-datatable-scrollable-body {
    max-height: 480px !important;
}
body .ui-datatable.dt-scrollable table.ui-datatable-fs {
    width: 100%;
}
body .ui-datatable.dt-scrollable .ui-widget-header.ui-datatable-scrollable-header .ui-datatable-scrollable-header-box {
    margin-right: 0 !important;
}

body .ui-datatable.dt-scrollable-x .ui-datatable-header,
body .ui-datatable.dt-scrollable-x .ui-widget-header.ui-datatable-scrollable-header,
body .ui-datatable.dt-scrollable-x .ui-datatable-scrollable-body {
    width: 100% !important;
}
body .ui-datatable.ui-datatable.dt-scrollable-x table.ui-datatable-fs {
    width: 100%;
}
body .ui-datatable.dt-scrollable-x .ui-widget-header.ui-datatable-scrollable-header .ui-datatable-scrollable-header-box {
    margin-right: 0 !important;
}



/*endregion Datatable */



/*region Tabs */

body .ui-tabs .ui-tabs-nav {
    background: var(--surface-section);
}

body .ui-tabs .ui-tabs-nav li.ui-tabs-header {
    background: var(--surface-section);
    color: var(--text-secondary-color);
}

body .ui-tabs .ui-tabs-nav li.ui-tabs-header a {
    color: var(--text-secondary-color);
    font-weight: var(--font-weight-bold);
}

body .ui-tabs .ui-tabs-nav li.ui-tabs-header.ui-state-hover {
    background: var(--surface-section);
}

body .ui-tabs .ui-tabs-nav li.ui-tabs-header.ui-state-hover a {
    color: var(--text-secondary-color);
}

body .ui-tabs .ui-tabs-nav li.ui-tabs-header.ui-state-hover .ui-icon {
    color: var(--text-secondary-color);
}

body .ui-tabs .ui-tabs-nav li.ui-tabs-header.ui-state-active {
    background: var(--surface-section);
}

body .ui-tabs .ui-tabs-nav li.ui-tabs-header.ui-state-active a {
    color: var(--primary-color);
}

body .ui-tabs .ui-tabs-nav li.ui-tabs-header.ui-state-active .ui-icon {
    color: var(--primary-color);
}

body .ui-tabs .ui-tabs-nav li.ui-tabs-header.ui-state-error a {
    color: var(--text-error-color);
}

body .ui-tabs .ui-tabs-nav li.ui-tabs-header.ui-state-error .ui-icon {
    color: var(--text-error-color);
}

body .ui-tabs .ui-tabs-nav li.ui-tabs-header.ui-tabs-outline {
    box-shadow: inset 0 0 0 .2rem var(--highlight-bg);
}

body .ui-tabs .ui-tabs-panels {
    background: var(--surface-section);
    color: var(--text-color);
    border-bottom-left-radius: var(--border-radius-elements);
    border-bottom-right-radius: var(--border-radius-elements);
}

body .ui-tabs.ui-tabs-top>.ui-tabs-nav:before {
    content: "";
    position: absolute;
    display: block;
    border-bottom: 2px solid var(--surface-border);
    left: 0;
    bottom: 0;
    width: 100%
}

body .ui-tabs.ui-tabs-top>.ui-tabs-nav li.ui-tabs-header {
    top: 0;
    border-bottom: 2px solid var(--surface-border);
}

body .ui-tabs.ui-tabs-top>.ui-tabs-nav li.ui-tabs-header.ui-state-hover {
    border-color: var(--surface-border);
}

body .ui-tabs.ui-tabs-top>.ui-tabs-nav li.ui-tabs-header.ui-state-active {
    border-color: var(--primary-color)
}

body .ui-tabs.ui-tabs-top>.ui-tabs-nav li.ui-tabs-header.ui-state-error {
    border-color: var(--text-error-color)
}

body .ui-tabs.ui-tabs-bottom>.ui-tabs-nav:before {
    content: "";
    position: absolute;
    display: block;
    border-top: 2px solid var(--surface-border);
    left: 0;
    top: 0;
    width: 100%
}

body .ui-tabs.ui-tabs-bottom>.ui-tabs-nav li.ui-tabs-header {
    top: 0;
    border-top: 2px solid var(--surface-border);
}

body .ui-tabs.ui-tabs-bottom>.ui-tabs-nav li.ui-tabs-header.ui-state-hover {
    border-color: var(--surface-border);
}

body .ui-tabs.ui-tabs-bottom>.ui-tabs-nav li.ui-tabs-header.ui-state-active {
    border-color: var(--primary-color);
}

body .ui-tabs.ui-tabs-bottom>.ui-tabs-nav li.ui-tabs-header.ui-state-error {
    border-color: var(--text-error-color);
}

body .ui-tabs.ui-tabs-right>.ui-tabs-nav {
    border-left: 2px solid var(--surface-border);
}

body .ui-tabs.ui-tabs-right>.ui-tabs-nav li.ui-tabs-header {
    border-left: 2px solid var(--surface-border);
}

body .ui-tabs.ui-tabs-right>.ui-tabs-nav li.ui-tabs-header.ui-state-hover {
    border-color: var(--surface-border);
}

body .ui-tabs.ui-tabs-right>.ui-tabs-nav li.ui-tabs-header.ui-state-active {
    border-color: var(--primary-color);
}

body .ui-tabs.ui-tabs-right>.ui-tabs-nav li.ui-tabs-header.ui-state-error {
    border-color: var(--text-error-color);
}

body .ui-tabs.ui-tabs-left>.ui-tabs-nav li.ui-tabs-header {
    top: 0;
    border-right: 2px solid var(--surface-border);
    margin-right: -2px
}

body .ui-tabs.ui-tabs-left>.ui-tabs-nav li.ui-tabs-header.ui-state-hover {
    border-color: var(--surface-border);
}

body .ui-tabs.ui-tabs-left>.ui-tabs-nav li.ui-tabs-header.ui-state-active {
    border-color: var(--primary-color);
}

body .ui-tabs.ui-tabs-left>.ui-tabs-nav li.ui-tabs-header.ui-state-error {
    border-color: var(--text-error-color);
}

body .ui-tabs .ui-tabs-navscroller .ui-tabs-navscroller-btn {
    background: var(--surface-section);
    color: var(--text-secondary-color);
}

body .ui-tabs .ui-tabs-navscroller .ui-tabs-navscroller-btn.ui-state-hover {
    background: var(--surface-hover);
    color: var(--text-color);
}

/*endregion Tabs */


/*region Growl */

body .ui-growl-item-container {
    opacity: .95;
    filter: alpha(opacity = 95);
}

body .ui-growl-message p {
    color: var(--text-color);
}

/*endregion Growl */

body .topbar .header-link.user-info .ui-avatar {
    width: 1.5rem;
    height: 1.5rem;
    font-size: var(--font-size-base);
    background-color: var(--gray-500);
}
body .topbar .header-link.user-info .ui-avatar span.ui-avatar-text {
    color: var(--text-white);
    font-weight: var(--font-weight-semibold);
}


body .ui-chkbox .ui-chkbox-box {
    border: 1px solid var(--surface-border);
    background: var(--surface-section);
}

body .ui-chkbox .ui-chkbox-box.ui-state-hover {
    border-color: var(--primary-color);
}

body .ui-chkbox .ui-chkbox-box.ui-state-focus {
    box-shadow: 0 0 0 .2em var(--highlight-bg);
    outline: 0 none
}

body .ui-chkbox .ui-chkbox-box.ui-state-active {
    border-color: var(--primary-color);
    background:var(--primary-color);
    color: var(--primary-text-color);
}

body .ui-inputnumber.w-full input {
    width: 100% !important;
}

body .ui-inputfield.dropzone {
    border-style: dashed !important;
}

body .ui-menu.ui-menu-dynamic {
    width: 280px !important;
}

.status-dialog .ui-dialog-content {
    padding: 1rem !important;
}

body .ui-datepicker .ui-datepicker-title select {
    border: 1px solid var(--surface-border);
    padding: .5rem .5rem;
    border-radius: var(--border-radius-elements);
    outline: none;
}

body .p-datepicker input {
    width: 100%;
}

body .ui-password.ui-inputwrapper {
    width: 100%;
}
